html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= title
    body
      h1= title
      p= welcome
      p= confirm
      p= text1
      div
        each line in content
          p= line
      a(href= link 1)= link1
      p= footer
      a(href= link)= link
      p= bye
      a(href= link3)= link3
        